/* Setup Variables */
:root {
  /* Color */
  --color-primary: #e02c6d;
  --color-accent: #0a0826;
  --color-body: #3a3a3a;
  --color-product: #18191f;
  --color-product-body: #787885;
  --color-star: #fb8200;
  --color-social: #22213c;

  /* Fonts */
  --font-primary: "Poppins", sans-serif;
  --font-accent: "Inter", sans-serif;

  /* Font Size */
  --header-size: 2.2rem;
  --subheader-size: 1.8rem;
  --sub-title-size: 1.5rem;
  --button-font-size: 1rem;
  --body-font-size: 0.896rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  color: var(--color-body);
  background-color: #fff;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

main {
  margin: 0 auto;
  max-width: 85em;
  padding: 2rem 0;
}

header {
  padding: 2rem 1.5rem 0;
}

section {
  padding: 2rem;
}

footer {
  font-family: var(--font-accent);
  padding: 2rem;
  color: #fff;
  background: var(--color-accent);
}

/* Utility Classes */
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  margin-bottom: 1rem;
  text-align: center;
}

.content-space-between {
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-items {
  position: fixed;
  top: 0;
  left: -100%;
  background: var(--color-accent);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
  padding-top: 10rem;
  transition: left 400ms ease-in-out;
}

.close {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -100%;
  margin: 2rem;
  transition: right 500ms ease;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu-items {
  left: 0;
}

#toggle:checked ~ .close {
  right: 0;
}

.menu-item {
  margin-bottom: 1.5rem;
}

.links {
  font-weight: 600;
  color: #fff;
  padding: 0.5rem;
}

.medium {
  font-weight: 500;
}

.semi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.brand {
  font-size: 1.2rem;
}

.bg-circle {
  display: flex;
  justify-content: center;
  background: url(../img/circle-bg.svg) no-repeat center/contain;
}

.cta {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
}

.cta-right {
  display: flex;
  justify-content: flex-end;
}

.cta > span {
  font-size: 1.1rem;
  margin-left: 0.1rem;
}

.btn {
  background: var(--color-primary);
  color: #fff;
  padding: 0.7rem 1.2rem;
  transition: filter 300ms ease-in;
}

.rnd {
  border-radius: 4rem;
}

/* Hero Section */
.hero {
  flex-direction: column;
}

.hero-title {
  text-align: center;
}

.hero-desc {
  font-size: 0.9rem;
}

/* Brands Section */
.brands {
  text-align: center;
}

.brand-item {
  flex: 1 0 calc(25% - 0.5rem);
  padding: 0.5rem;
}

.brand-item img {
  width: 80%;
}

/* Product Section */
.product {
  flex-direction: column;
}

.product-title {
  font-size: 1.2rem;
}

/* Card Section */
.card {
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.1rem 0.5rem;
  border-radius: 0.25rem;
}

.card-desc * {
  margin-bottom: 0.1rem;
}

.card-title {
  font-size: 1.8rem;
  color: var(--color-accent);
}

.price {
  font-family: var(--font-accent);
  color: #000;
}

.info p {
  font-family: var(--font-accent);
  font-size: 0.8rem;
  color: #787885;
}

.review span {
  color: var(--color-star);
  font-size: 0.8rem;
}

span.review-text {
  color: var(--color-body);
}

/* Footer Styles */
footer div,
footer p {
  margin-bottom: 0.6rem;
}

footer div:last-child {
  margin: 1rem 0 0;
}

.social span {
  font-size: 1.2rem;
  color: #fff;
  background: var(--color-social);
}

@media (min-width: 36em) {
  header {
    padding: 2rem 3rem 0;
  }

  .brand {
    font-size: 1.5rem;
  }

  .product {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 300px;
    margin: 1rem;
  }
}

@media (min-width: 48em) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .col {
    margin-bottom: 1rem;
    text-align: left;
    flex-basis: 100%;
  }

  .col-right {
    order: 2;
  }

  .hero-title {
    font-size: 2rem;
    text-align: left;
  }

  .product-title {
    font-size: 1.6rem;
  }

  .brand {
    font-size: 1.8rem;
  }

  .brand-items {
    flex-wrap: nowrap;
  }

  .brand-item {
    flex: 100%;
    padding: 0;
  }

  .brand-item img {
    width: 80px;
  }
}

@media (min-width: 62em) {
  .hero-title {
    font-size: 3rem;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 2rem;
  }

  .ham-menu {
    display: none;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
  }

  .menu-item {
    margin: 0 0.5rem 0;
  }

  .menu-item,
  .icon-cart {
    transition: transform 250ms ease-in;
  }

  .menu-item:hover,
  .icon-cart:hover {
    transform: translateY(-0.5rem);
  }

  .links {
    font-weight: 600;
    color: var(--color-body);
    padding: 0.5rem;
  }

  span.links {
    font-size: 1.6rem;
  }

  .btn:hover {
    filter: grayscale(25%);
  }
}
